body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.searchBoxWrapper {
	text-align: center;
	margin-top: 20px;
}

.formWrapper {
	margin-bottom: 10px !important;
}

.listLink {
	color: #ffffff;
	&:hover {
		color: #e1e1e1;
	}
}

.displayErrors input:invalid {
	border-color: red;
}

.results-table,
.search-form {
	margin-top: 5%;
}

.resultsHeading {
	text-align: center;
	margin-top: 5%;
}

.page-link:disabled {
	color: gray;
	&:hover {
		background-color: transparent;
		border-color: none;
		color: gray;
	}
}

.search-result-input {
	width: 50%;
	margin: 0 auto;
}

.alert-box {
	margin-top: 30px;
}

.loader-image {
	width: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
